.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.load-button {
    width: 100%;
    align-items: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
